@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * { -webkit-font-smoothing: antialiased; }
  html, body, #root { height: 100%; }
  body { @apply font-sans text-sm text-ink bg-surface-2; }
}

@layer utilities {
  .scrollbar-thin::-webkit-scrollbar { width: 4px; }
  .scrollbar-thin::-webkit-scrollbar-track { background: transparent; }
  .scrollbar-thin::-webkit-scrollbar-thumb { @apply bg-surface-5 rounded-full; }
}
